<div>
<h1 style="margin-left: 550px;font-size:xx-large;" >Top Dishes Ordered</h1>


<table>

	<thead>
		 <tr>
		 	 <th>   Rank  </th>
		     <th>Name </th>
		     <th>Order Frequency</th>
		     <th>Description</th>
		     <th>Price</th>
		 </tr>
	</thead>

	<tbody>
             <tr>
             	<td>   1   </td>
             	<td><%= @first.name %></td>
             	<td><%= @first.number_times_ordered %></td>
             	<td><%= @first.description %></td>
             	<td><%= @first.price %></td>
             </tr>
             <tr>
             	<td>   2   </td>
             	<td><%= @second.name %></td>
             	<td><%= @second.number_times_ordered %></td>
             	<td><%= @second.description %></td>
             	<td><%= @second.price %></td>
             </tr>
                 <tr>
                <td>   3   </td>
             	<td><%= @third.name %></td>
             	<td><%= @third.number_times_ordered %></td>
             	<td><%= @third.description %></td>
             	<td><%= @third.price %></td>
             </tr>
	</tbody>


</table>
</div>
