<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantAutomationSystem</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_employee %>
      <ul>
        <li><%= current_employee.email %></li>
        <li><%= link_to "Log out", logout_path, method: "delete"%></li>
      </ul>
      <%else%>
      <h1> leeh keda </h1>
    <% end %>
    <%= yield %>
  </body>
</html>
